body {
  background: #b1f5f6;
}
.btn-success {
  background-color: #7fb100 !important;
}
.btn-danger {
  background-color: #c90a02 !important;
}
.center {
    margin: auto;
    padding: 10px;
    text-align: center;
}
#score-container {
  display: inline-block;
  border: 5px solid #fa569f;
  border-radius: 25px;
}
h1 {
  color: #fa569f;
  font-size: 40px;
  padding: 2px 10px 2px 10px;
}
.to-click {
  height: 250px;
  width: 250px;
  display: inline-block;
}
#parent-div {
  margin-bottom: 40px;
}
#red {
  background-color: #ff6357;
  border-radius: 50px 75px 0px 75px;
  margin-right: 40px;
}
#green {
  background-color: #7fb100;
  border-radius: 75px 50px 75px 0px;
}
#blue {
  background-color: #39b9d4;
  border-radius: 75px 0px 75px 50px;
  margin-right: 40px;
}
#yellow {
  background-color: #ffd751;
  border-radius: 0px 75px 50px 75px;
}

.active.green {
  background-color: #ffe5e5 !important;
}
.active.red {
  background-color: #ffe5e5 !important;
}
.active.yellow {
  background-color: #ffe5e5 !important;
}
.active.blue {
  background-color: #ffe5e5 !important;
}